
/* .dojo_container {
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 150px 0px 150px;
}


.interview_title {
 text-align: center;
 font-size: 30px;
 padding-top: 30px;
} */

