
/* .title {
  font-size: 30px;
  text-align: center;
}

a {
  margin-left: 45%;
  background-color: bisque;
}

.submit {
  background-color: bisque;
}

.cover_letter {
  background-color: rgb(239, 150, 118);
  margin-left: 30px;
  margin-right: 30px;
}

.save_button {
  margin-left: 15px;
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
  margin-right: 80px;
} */

