.form {
  margin: 0 30px 0 30px;
  border: 1px solid red;
  background-color: rgb(253, 225, 166);
  border-radius: 1em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* select {
  margin: 8px;
  width: 300px;
} */

/* h2 {
  font-weight: 900;
} */

.rating {
  margin-bottom: 15px;
  margin-top: -15px;
}

/* form, p {
  margin-left: 30px;
  margin-top: 10px;
} */

.feedback-textarea {
  border-radius: 0.4em;
  color: orange;
  padding: 15px;
  width: 70%;
  height: 150px;
  background: linear-gradient(180deg, rgb(7, 0, 99), rgb(0, 2, 144));
}

.submit-feedback {
  background: linear-gradient(45deg, rgb(201, 95, 2), rgb(169, 78, 4));
  padding: 10px;
  margin-top: -20px;
  margin-bottom: 10px;
  color: white;
  border-radius: 0.3em;
}


