*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #262626;
}

li{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
}

.navbar{
  position: fixed;
  min-height: 70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  opacity: 0.95;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.4s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
  position:unset; 
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

@media(max-width: 2000px) {
  .hamburger{
    display: block;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity:0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: 100%;
  top:70px;
  gap: 0;
  flex-direction: column;
  background-color: #ddd;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px;
}

.nav-menu.active{
  left: 0;
}
