#dashboard {
  height: 300px;
  margin: 25px 30px 15px 30px;
  background: linear-gradient(180deg, rgba(25, 5, 44, 0.8), rgba(25, 5, 44, 1));
  border-radius: 1em;
}

.dashboard-title {
  text-align: center;
  padding-top: 15px;
  color: whitesmoke;
}

.applications-dashboard {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  color:whitesmoke;
  display: inline-block;
}

.applications-amount {
  margin-left: 50px;
  font-size: 30px;
  color: greenyellow;
}

.right {
  margin-left: 330px;
}

.applications-amount .right {
  margin-left: 455px;
}

.toggle-switch {
  margin-left: 20px;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
}

.toggle-switch:hover {
  color: rgb(255, 111, 0);
}