.fullscreen {
    position: fixed;
    top: -1;
    bottom: 100;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: -1;
    /* set to negative half of viewport height */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* set a high z-index to ensure the navbar appears on top of other elements */
}